<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HarmonyRender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <applicationSettings>
        <HarmonyRender.Properties.Settings>
            <setting name="HarmonyPath" serializeAs="String">
                <value>C:\\Program Files (x86)\\Toon Boom Animation\\Toon Boom Harmony 22 Premium\\win64\\bin\\HarmonyPremium.exe</value>
            </setting>
            <setting name="VideoExport" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>MOV-png</string>
                        <string>H264</string>
                        <string>SEQUENCE-png</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ExportPrefix1" serializeAs="String">
                <value>K</value>
            </setting>
            <setting name="ExportPrefix2" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="ExportNameDecimal" serializeAs="String">
                <value>2</value>
            </setting>
        </HarmonyRender.Properties.Settings>
    </applicationSettings>
</configuration>
